node_modules
*.sublime-workspace
tests/generated

app/.ab
app/*.html
app/scripts
app/styles
app/data
app/App_Resources

# AppBuilder Simulator seems to leave this file after you close it.
debug.log
app/debug.log
