#tabstrip-home(
    data-role="view"
    data-title="Home")

    .view-content
        h1 Welcome!
        a#skin-change(data-role="button" data-click="app.changeSkin") Flat
        p.
            Telerik AppBuilder&trade; enables you to build cross-platform device applications regardless of your
                development platform by combining the convenience of a local development toolset with the
                power and flexibility of the cloud.
        div.img
