div(data-role="layout" data-id="tabstrip-layout")
    div(data-role="header")
        div(data-role="navbar")
            span(data-role="view-title")

    div(data-role="footer")
        div(data-role="tabstrip")
            a(href="#/" data-icon="home") Home
            a(href="#tabstrip-login" data-icon="contacts") Login
            a(href="#tabstrip-location" data-icon="search") Location
            a(href="#tabstrip-weather" data-icon="globe") Weather